<center><spa onload="loadConfig(); loadStats();">
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/home')"><span>HOME</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link active" style="cursor:pointer" ><span>CONFIG</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/extension')"><span>EXTENSION</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/upload')"><span>UPLOAD</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/discord')"><span>DISCORD</span></a>
    <br>
  <span id="usernameBoard"></span>
    <center>
      <br>
      <div class="container"><code class="json hljs">{
  <span class="hljs-attr">"Version"</span>: <span class="hljs-string">"13.1.0"</span>,
  <span class="hljs-attr">"DestinationType"</span>: <span class="hljs-string">"ImageUploader"</span>,
  <span class="hljs-attr">"RequestMethod"</span>: <span class="hljs-string">"POST"</span>,
  <span class="hljs-attr">"Body"</span>: <span class="hljs-string">"MultipartFormData"</span>,
  <span class="hljs-attr">"Name"</span>: <span class="hljs-string">"IMH"</span>,
  <span class="hljs-attr">"FileFormName"</span>: <span class="hljs-string">"IMH"</span>,
  <span class="hljs-attr">"RequestURL"</span>: <span class="hljs-string" id="requestURL">"https://imh-host.herokuapp.com/upload"</span>,
  <span class="hljs-attr">"URL"</span>: <span class="hljs-string" id="URL">"$json:data.link$"</span>
}</code>
    </div>
      <div>
        <div onclick="toggleEmbed()">
          <input checked type="checkbox" class="checkbox" id="embed" onclick="toggleEmbed()">  
          <label for="embed" id="embedText" onclick="toggleEmbed()">Embed</label>
        </div>
        <br>
        <div onclick="toggleCustom()">
          <input type="checkbox" class="checkbox" id="custom" onclick="toggleCustom()">  
          <label for="custom" id="customURL" onclick="toggleCustom()">Custom URL</label>
        </div>
        <br>
        <input placeholder="Custom URL" class="hidden text-box" id="customURLText" oninput="loadConfig()">
      </div>
      <br>
      <button onclick="saveConfig()">
        Download ShareX Config (.sxcu)
      </button>
      </center>
  <div class="h7" id="stats">
<!--       UPLOADS: ... | TOTAL SIZE: ... -->
    </div>
</spa>
  </center>

