<center>
  <spa onload="loadStats()">
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/home')"><span>HOME</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/config')"><span>CONFIG</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/extension')"><span>EXTENSION</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/upload')"><span>UPLOAD</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link active" style="cursor:pointer"><span>DISCORD</span></a>
    <br>
  <span id="usernameBoard"></span>
    <br>
    <span class="h1"><img class="logo" src="https://imh.herokuapp.com/i/YK7RPR5.png"></span>
    <br>
    <br>
    <br>
    <br>
    <span class="h1">
      Join the Discord!
    </span>
    <br>
    <span class="h6">
      Join the official IMH discord for support and information.
    </span>
    <br>
    <br>
    <a target="_blank" href="https://discord.gg/8Cypzpc"><button>
      Join the Discord
      </button></a>
    <div class="h7" id="stats">
<!--       UPLOADS: ... | TOTAL SIZE: ... -->
    </div>
  </spa>
</center>
