<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IMH &middot; Extension</title>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="https://imh.glitch.me/i/Gaxe4mD.png">
    <script src="/script.js"></script>
  </head>
  <body onload="loadPage('/extension')">
  
  </body>
</html>
