<center>
  <spa onload="loadStats()">
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/home')"><span>HOME</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/config')"><span>CONFIG</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link active" style="cursor:pointer"><span>EXTENSION</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/upload')"><span>UPLOAD</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/discord')"><span>DISCORD</span></a>
    <br>
  <span id="usernameBoard"></span>
    <br>
    <span class="h1">IMH Screenshot</span>
    <br>
    <span class="h6">
    SCREENSHOT TOOL
    </span>
    <br>
    <br>
    <br>
    <h1>
   Lets get started.
      </h1>
      <div id="compacted" class="h6">
        <div>
          <a href="/IMH_Extension">Download</a> the extension.<br>
          <div class="h7">
            This is a completely safe zip file, <a target="_blank" href="https://www.virustotal.com/gui/file/9e7bd75f03242907bd1d42e6822ae37332a75ad2f6d6090442c797aa3c5f521a/detection">VirusTotal</a> here.
          </div>
        </div>
        <div class="separator"></div>
        <div>
          Unzip the extension.
          <div class="h7">
            Use your tool of choice to unzip the extension to a location you will remember.
          </div>
        </div>
        <div class="separator"></div>
        <div>
          Open the chrome extensions page.
          <div class="h7">
            3 Dots (Top right) ➞ More tools ➞ Extensions
          </div>
        </div>
          <div class="separator"></div>
        <div>
          Enable the extensions developer mode.
          <div class="h7">
            <img src="https://imh.glitch.me/i/IdvklBo.png">
          </div>
        </div>
        <div class="separator"></div>
        <div>
          Load the extension.
          <div class="h7">
            Click "Load unpacked" and locate the folder you extracted to.
          </div>
        </div>
        <div class="separator"></div>
        <div>
          Success!
          <div class="h7">
            You have now successfully installed the IMH screenshot tool! (hopefully)
          </div>
        </div>
      </div>
    <br>
    <br>
    <div class="h7" id="stats">
<!--       UPLOADS: ... | TOTAL SIZE: ... -->
    </div>
  </spa>
</center>
