<center>
  <spa onload="loadStats()">
  <a class="config-link active" style="cursor:pointer"><span>HOME</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/config')"><span>CONFIG</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/extension')"><span>EXTENSION</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/upload')"><span>UPLOAD</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/discord')"><span>DISCORD</span></a>
    <br>
  <span id="usernameBoard"></span>
    <br>
    <span class="h1"><img class="logo" src="https://imh.herokuapp.com/i/YK7RPR5.png"></span>
    <br>
    <h1>
   Welcome to free unlimited image hosting.
      </h1>
      <div id="compacted" class="h6">
        <div>
          Unlimited, free, available to anyone.<br>
          <div class="h7">
            Unlimited image storage available to anyone, no signup or invitation required.
          </div>
        </div>
        <div class="separator"></div>
        <div>
          <a style="cursor:pointer" onclick="loadPage('/config')">Config</a> provided for ease of use.
          <div class="h7">
            Get up and running fast with the ShareX compatible config available to download.
          </div>
        </div>
          <div class="separator"></div>
        <div>
          Need a screenshot extension?
          <div class="h7">
            Free <a style="cursor:pointer" onclick="loadPage('/extension')">screenshot extension</a> for chrome available to download, uploads to IMH.
          </div>
        </div>
      </div>
      <br>
    <br>
    <div class="h7" id="stats">
      UPLOADS: LOADING | SIZE: LOADING
    </div>
  </spa>
</center>
