<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IMH &middot; Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="https://cdn.glitch.com/97fb92e2-b507-4b2a-9178-8dc95c020d56%2Fcircle-cropped.ico?v=1603687955580">

    <script src="/script.js"></script>
  </head>
  <body onload="loadPage('/home')">
  
  </body>
</html>