<center>
  <spa onload="loadStats()">
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/home')"><span>HOME</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/config')"><span>CONFIG</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/extension')"><span>EXTENSION</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link active" style="cursor:pointer"><span>UPLOAD</span></a>
  <a class="config-link nav-separator"><span>|</span></a>
  <a class="config-link" style="cursor:pointer" onclick="loadPage('/discord')"><span>DISCORD</span></a>
    <br>
  <span id="usernameBoard"></span>
    <br>
    <form method="post" action="https://imh-host.herokuapp.com/upload?frontend=true" enctype="multipart/form-data">
    <input style="display:none;" type="file" id="image_uploads" name="image_uploads" accept="image/*, text/*">
    <label for="image_uploads"><span class="h1"><img style="cursor:pointer" class="logo" src="https://imh.herokuapp.com/i/YK7RPR5.png"></span></label>
    <br>
    <h1>
   Click the logo to choose a file.
      </h1>
      <div id="compacted" class="h6">
        <div> 
          <input style="display:none;" input type="file" id="toUpload" name="image_uploads" accept=".jpg, .jpeg, .png">
          <button>Upload</button>
        </div>
      </div>
      </form>
      <br>
    <div class="h7" id="stats">
<!--       UPLOADS: ... | TOTAL SIZE: ... -->
    </div>
  </spa>
</center>
